.loginPage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    min-width: 35vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formTitle {
    text-align: center;
}